// HTML defaults
html, body { height: 100%; }

body { 
  margin: 0; 
  font-family: Roboto, "Helvetica Neue", sans-serif; 
  height: 100%;
  box-sizing: border-box;
  padding: 1rem;
}

table {
    border-spacing: 0;
    border-collapse: collapse; 
}